
# Ignore the generated local configuration
sdkconfig
sdkconfig.old

# Ignore all compiled binaries and object files
build/
html_doc/

# Ignore local workspace settings that contain absolute machine paths
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json

# Python
__pycache__/
*.pyc
*.pyo
.DS_Store

